@keyframes glow
  0%
    background-position: 15%
  50%
    background-position: 90%
  100%
    background-position: 15%

body
  background-color: #fff
  min-height: 100vh

  background: #00B153 /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(#00B153, white) /* For Safari 5.1 to 6.0 */
  background: -o-radial-gradient(#00B153, white) /* For Opera 11.1 to 12.0 */
  background: -moz-radial-gradient(#00B153, white) /* For Firefox 3.6 to 15 */
  background: radial-gradient(#00B153 , white) /* Standard syntax */

  /*background: -webkit-linear-gradient(left ,#00B153 0%,#FFF 50%,#00B153 100%)*/
  background-size: 300%
  -webkit-animation: glow 10s infinite ease

  display: grid
  grid-template-columns: 1fr min-content 1fr
  grid-template-rows: 1fr min-content 2fr
  grid-template-areas: ". . ." ". body ." ". . ."

.container
  grid-area: body
  background-color: white
  min-width: 400px
  border-radius: 5px
  box-shadow: 0px 5px 15px -5px black
  text-align: center
  padding: 5px

  .playlist-item
    padding: 3px
    margin: 3px
    border-radius: 3px
    border: 1px solid black

  .selected
    color: white
    background-color: #00B153

  #profile-image
    img
      border-radius: 50%

.btn
  background-color: #00B153
  border-radius: 4px
  padding: 5px
  display: inline-block

  a
    color: white
    text-decoration: none

